# Crawling Data

Pada tahap ini dilakukan penggumpulan data dari tweet pengguna Twitter menggunakan API

Proses crawling dilakukan menggunakan library tweepy

In [2]:
# import library
import tweepy
import csv
import string
import pandas as pd

In [2]:
#autentikasi
consumer_key = "GKtBQUKG9P7gPb629k4VTXYLR"
consumer_secret = "sIy9UnygHFNNm10JJ39Nc63UNM6VFG4lfZaRVpmF9nguK031LW"
access_token = "1191685350994767872-CnsLMvZxxDqdOMdSwRBx7LPvoG7zKl"
access_token_secret = "fblIxURhznuMKB8d9cIPHLcHqBEZZog3fNG4FDnjIzDk0"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [3]:
#tahap crawling data
def scraptweets(search_words, date_since, date_until):

    db_tweets = pd.DataFrame(columns=['username', 'tweetcreatedts', 'tweet'])

    tweets = tweepy.Cursor(
                    api.search_tweets, q=search_words, lang="id", 
                    since=date_since, until=date_until, tweet_mode='extended').items(1000)

    tweet_list = [tweet for tweet in tweets]

    for tweet in tweet_list:
        username = tweet.user.screen_name
        tweetcreatedts = tweet.created_at

        try:
            tweet = tweet.retweeted_status.full_text
        except AttributeError:
            tweet = tweet.full_text

        ith_tweet = [username, tweetcreatedts, tweet]

        db_tweets.loc[len(db_tweets)] = ith_tweet
    
    print('Proses Crawling Selesai, Total Data Sebanyak', len(db_tweets))
    filename = 'dataset/dataset-crawling.csv'
    db_tweets.to_csv(filename, index=False)

In [4]:
# Masukkan kata kunci yang dicari dan rentang waktu 

search_words = "Sekolah offline -filter:retweets"
date_since = "2022-06-15"
date_until = "2022-06-22"

scraptweets(search_words, date_since, date_until)

Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since
Unexpected parameter: since

Proses Crawling Selesai, Total Data Sebanyak 231

In [3]:
#menyimpan data yang telah dikumpulkan ke dalam lokal storage
data_twt = pd.read_csv("dataset/dataset-crawling.csv")

In [4]:
data_twt

,username,tweetcreatedts,tweet
0,taphodit,2021-10-26 23:55:21,ASTAGAAAA BARU INGET SEKARANG SEKOLAH OFFLINE
1,L94KJISS,2021-10-26 23:52:56,"Yg udh sekolah offline, lama lama bosan gsi se..."
2,jjnanney,2021-10-26 23:45:18,@jinhwanchy Wah udah sekolah offline? Semangat...
3,Vinaa32383695,2021-10-26 23:41:07,"@Fajri_UN1TY Haii juga, yuk yg sekolah offline..."
4,schfess,2021-10-26 23:39:56,Sch! Hai gais hari ini sender PTM untuk yg per...
...,...,...,...
995,enhypenaddicted,2021-10-23 01:42:25,"Ya Tuhan, besok sekolah agama offline aku gama..."
996,shnsukei,2021-10-23 01:39:47,"@jegiannnnn__ bukan 0 sih, tapi udh mau zona i..."
997,Drllny,2021-10-23 01:29:14,"@CHOl_SAN_ @prkdlx Nanti pulang sekolah ya, ak..."
998,CHOl_TAEHUN,2021-10-23 01:27:46,Males bgt sekolah offlineðŸ˜­ðŸ˜­
999,jyonjaey,2021-10-23 01:22:45,@peachwzrl_ Bener banget :(. Aku dulu waktu ma...