In [1]:
import pandas as pd
import random

## Menggabung Dataset Yang Telah Dikumpulkan

In [5]:
data1 = pd.read_csv('dataset/dataset 2022/sekolah offline-29mei2022.csv')
data2 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-30mei2022.csv')
data3 = pd.read_csv('dataset/dataset 2022/sekolah offline-6juni2022.csv')
data4 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-6juni2022.csv')
data5 = pd.read_csv('dataset/dataset 2022/sekolah offline-13juni2022.csv')
data6 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-13juni2022.csv')

In [6]:
frames = [data1, data2, data3, data4, data5, data6] 
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [7]:
result.to_csv(r'dataset/Dataset-lengkap.csv', index=False)

In [8]:
dataLengkap = pd.read_csv('dataset/Dataset-lengkap.csv')

In [9]:
dataLengkap

,username,tweetcreatedts,tweet
0,cemilih,2022-05-28 19:38:20,"kalo udah mulai normal lagi, udah pada sekolah..."
1,JUNGJIES,2022-05-28 17:46:37,"pdhl brg2 jg glama pas msh offline, tau2 sekol..."
2,collegemenfess,2022-05-28 16:51:24,[cm] kalo sidang offline berkasÂ² pas penelitia...
3,lykygsgf,2022-05-28 16:19:47,"@subschfess campurÂ². ada senengnya, cnth kl ke..."
4,achteezers,2022-05-28 16:06:04,gue dulu pacaran uwunya masih era offline nder...
...,...,...,...
1043,fadhilahrzkn,2022-06-07 09:51:59,"walopun bukan anak sekolaan, gua turut merasak..."
1044,Nieza_Styles,2022-06-07 01:30:23,Tapi mas udah kayak Sekolah aja sekarang tatap...
1045,jagapatidotcom,2022-06-06 12:30:11,"Tapi, emang udah siap hidup normal? ðŸ¤”\n\nKemba..."
1046,Crisa_na,2022-06-06 08:21:33,Puan bersyukur Indonesia mulai memasuki fase e...
1047,gogogentur,2022-06-06 08:17:09,@YogiManaLagi11 @andreayudias @tvindonesiawkwk...

## Acak data pada dataset

In [22]:
df = pd.read_csv('dataset/dataset-preprocessing1.csv') # avoid header=None. 
shuffled_df = df.sample(frac=1)
shuffled_df.to_csv('dataset/Data-2000acak.csv', index=False)

In [23]:
DataAcak = pd.read_csv('dataset/Data-2000acak.csv')

In [24]:
DataAcak

                                           tweet_bersih  label_sentimen
0     sekolahkerja via daring enak begadang bangun s...              -1
1     gubernur jawa timur sekolah temu tatap muka pt...               1
2     syukur indonesia masuk fase endemi covid kondi...               1
3         sekolah offline kak pulang jam les jam wahwah              -1
4                                eh sekolah offline jam               0
...                                                 ...             ...
2005       lxyc sekolah daring offline by the way sarap               0
2006  masuk kuliah offline alam masuk sekolah menit ...               0
2007  min wishlist bgadang kantong mata hitam sekola...               0
2008             sekolah teman saya drad wisuda offline               0
2009                     sekolahoffline sekolah offline               1

[2010 rows x 2 columns]

In [13]:
data1 = pd.read_csv('dataset/dataset 2022/sekolah offline-29mei2022.csv')
data2 = pd.read_csv('dataset/dataset 2022/sekolah offline-6juni2022.csv')
data3 = pd.read_csv('dataset/dataset 2022/sekolah offline-13juni2022.csv')
data4 = pd.read_csv('dataset uji/dataset-crawling-juli.csv')
data5 = pd.read_csv('dataset uji/dataset-crawling.csv')

In [14]:
frames = [data1, data2, data3, data4, data5] 
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [15]:
result.to_csv(r'dataset/Dataset-Nolabel.csv', index=False)

In [16]:
dataLengkap = pd.read_csv('dataset/Dataset-Nolabel.csv')

In [17]:
dataLengkap

,username,tweetcreatedts,tweet
0,cemilih,2022-05-28 19:38:20,"kalo udah mulai normal lagi, udah pada sekolah..."
1,JUNGJIES,2022-05-28 17:46:37,"pdhl brg2 jg glama pas msh offline, tau2 sekol..."
2,collegemenfess,2022-05-28 16:51:24,[cm] kalo sidang offline berkasÂ² pas penelitia...
3,lykygsgf,2022-05-28 16:19:47,"@subschfess campurÂ². ada senengnya, cnth kl ke..."
4,achteezers,2022-05-28 16:06:04,gue dulu pacaran uwunya masih era offline nder...
...,...,...,...
1242,san_sidoarjo,2022-07-15 00:05:57+00:00,[ RAPAT SEKOLAH NUSANTARA 2022 ]\n\nHalo SAN P...
1243,markIeemonade,2022-07-14 14:58:25+00:00,"@sbmptnfess - ada kelas offline+online nya, ke..."
1244,loafswharuto,2022-07-14 12:50:29+00:00,@harulovies iyaðŸ˜­ðŸ˜­ cz tahun kmrn kan hampir set...
1245,W42N_smr89,2022-07-14 09:35:59+00:00,Dulu demi anak sekolah daring dirumah sampai b...
1246,converwt,2022-07-14 06:22:35+00:00,"moots, buat yang masih sekolah kalian udah ful..."

In [ ]:
#----------------------------------------------------------------------------------------------------------

In [2]:
data1 = pd.read_csv('dataset/dataset 2021/dataset2021label.csv')
data2 = pd.read_csv('dataset uji/hasil-klasifikasi.csv')

In [ ]:
filename = 'NewDataset/dataset-2021.csv'
data1.to_csv(filename, columns=['tweet', 'label_sentimen'], index=False)

In [6]:
# melakukan konversi sentimen ke label 0 untuk negatif dan 1 untuk positif
def convert_sentimen(sentimen):
    if sentimen == "positif":
        return 1
    if sentimen == "negatif":
        return -1
    else:
        return 0

data2['label_sentimen'] = data2['label_prediksi'].apply(convert_sentimen)
data2.shape

(1200, 3)

In [7]:
data2

,tweet,label_prediksi,label_sentimen
0,"kalo udah mulai normal lagi, udah pada sekolah...",positif,1
1,"pdhl brg2 jg glama pas msh offline, tau2 sekol...",negatif,-1
2,[cm] kalo sidang offline berkasÂ² pas penelitia...,positif,1
3,"@subschfess campurÂ². ada senengnya, cnth kl ke...",negatif,-1
4,gue dulu pacaran uwunya masih era offline nder...,positif,1
...,...,...,...
1195,sekolah ku udah mulai offline dari maret dann ...,netral,0
1196,mana udah offline sekolah,netral,0
1197,gue kira senin bakal sekolah offline ternyata ...,netral,0
1198,art! curhat dkit sender akhir2 ini capek bgt s...,positif,1
1199,(Kelas 12) karna udah dibolehin sekolah secara...,positif,1

In [8]:
filename = 'NewDataset/dataset-2022.csv'
data2.to_csv(filename, columns=['tweet', 'label_sentimen'], index=False)

In [9]:
data21 = pd.read_csv('NewDataset/dataset-2021.csv')
data22 = pd.read_csv('NewDataset/dataset-2022.csv')

In [10]:
frames = [data21, data22] 
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [11]:
result.to_csv(r'NewDataset/Dataset-label.csv', index=False)

In [13]:
data21

                                                 tweet  label_sentimen
0        ASTAGAAAA BARU INGET SEKARANG SEKOLAH OFFLINE              -1
1    Yg udh sekolah offline, lama lama bosan gsi se...              -1
2    @jinhwanchy Wah udah sekolah offline? Semangat...               1
3    @Fajri_UN1TY Haii juga, yuk yg sekolah offline...               1
4    Sch! Hai gais hari ini sender PTM untuk yg per...              -1
..                                                 ...             ...
995  Ya Tuhan, besok sekolah agama offline aku gama...              -1
996  @jegiannnnn__ bukan 0 sih, tapi udh mau zona i...               1
997  @CHOl_SAN_ @prkdlx Nanti pulang sekolah ya, ak...               0
998                        Males bgt sekolah offlineðŸ˜­ðŸ˜­              -1
999  @peachwzrl_ Bener banget :(. Aku dulu waktu ma...               0

[1000 rows x 2 columns]