In [1]:
import pandas as pd
import random

## Menggabung Dataset Yang Telah Dikumpulkan

In [5]:
data1 = pd.read_csv('dataset/dataset 2022/sekolah offline-29mei2022.csv')
data2 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-30mei2022.csv')
data3 = pd.read_csv('dataset/dataset 2022/sekolah offline-6juni2022.csv')
data4 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-6juni2022.csv')
data5 = pd.read_csv('dataset/dataset 2022/sekolah offline-13juni2022.csv')
data6 = pd.read_csv('dataset/dataset 2022/sekolah tatap muka-13juni2022.csv')

In [6]:
frames = [data1, data2, data3, data4, data5, data6] 
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [7]:
result.to_csv(r'dataset/Dataset-lengkap.csv', index=False)

In [8]:
dataLengkap = pd.read_csv('dataset/Dataset-lengkap.csv')

In [9]:
dataLengkap

,username,tweetcreatedts,tweet
0,cemilih,2022-05-28 19:38:20,"kalo udah mulai normal lagi, udah pada sekolah..."
1,JUNGJIES,2022-05-28 17:46:37,"pdhl brg2 jg glama pas msh offline, tau2 sekol..."
2,collegemenfess,2022-05-28 16:51:24,[cm] kalo sidang offline berkasÂ² pas penelitia...
3,lykygsgf,2022-05-28 16:19:47,"@subschfess campurÂ². ada senengnya, cnth kl ke..."
4,achteezers,2022-05-28 16:06:04,gue dulu pacaran uwunya masih era offline nder...
...,...,...,...
1043,fadhilahrzkn,2022-06-07 09:51:59,"walopun bukan anak sekolaan, gua turut merasak..."
1044,Nieza_Styles,2022-06-07 01:30:23,Tapi mas udah kayak Sekolah aja sekarang tatap...
1045,jagapatidotcom,2022-06-06 12:30:11,"Tapi, emang udah siap hidup normal? ðŸ¤”\n\nKemba..."
1046,Crisa_na,2022-06-06 08:21:33,Puan bersyukur Indonesia mulai memasuki fase e...
1047,gogogentur,2022-06-06 08:17:09,@YogiManaLagi11 @andreayudias @tvindonesiawkwk...

## Acak data pada dataset

In [22]:
df = pd.read_csv('dataset/dataset-preprocessing1.csv') # avoid header=None. 
shuffled_df = df.sample(frac=1)
shuffled_df.to_csv('dataset/Data-2000acak.csv', index=False)

In [23]:
DataAcak = pd.read_csv('dataset/Data-2000acak.csv')

In [24]:
DataAcak

                                           tweet_bersih  label_sentimen
0     sekolahkerja via daring enak begadang bangun s...              -1
1     gubernur jawa timur sekolah temu tatap muka pt...               1
2     syukur indonesia masuk fase endemi covid kondi...               1
3         sekolah offline kak pulang jam les jam wahwah              -1
4                                eh sekolah offline jam               0
...                                                 ...             ...
2005       lxyc sekolah daring offline by the way sarap               0
2006  masuk kuliah offline alam masuk sekolah menit ...               0
2007  min wishlist bgadang kantong mata hitam sekola...               0
2008             sekolah teman saya drad wisuda offline               0
2009                     sekolahoffline sekolah offline               1

[2010 rows x 2 columns]

In [8]:
data1 = pd.read_csv('dataset/dataset 2022/sekolah offline-29mei2022.csv')
data3 = pd.read_csv('dataset/dataset 2022/sekolah offline-6juni2022.csv')
data5 = pd.read_csv('dataset/dataset 2022/sekolah offline-13juni2022.csv')

In [9]:
frames = [data1, data2] 
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [10]:
result.to_csv(r'dataset/Dataset-Nolabel.csv', index=False)

In [11]:
dataLengkap = pd.read_csv('dataset/Dataset-Nolabel.csv')

In [12]:
dataLengkap

,username,tweetcreatedts,tweet
0,cemilih,2022-05-28 19:38:20,"kalo udah mulai normal lagi, udah pada sekolah..."
1,JUNGJIES,2022-05-28 17:46:37,"pdhl brg2 jg glama pas msh offline, tau2 sekol..."
2,collegemenfess,2022-05-28 16:51:24,[cm] kalo sidang offline berkasÂ² pas penelitia...
3,lykygsgf,2022-05-28 16:19:47,"@subschfess campurÂ². ada senengnya, cnth kl ke..."
4,achteezers,2022-05-28 16:06:04,gue dulu pacaran uwunya masih era offline nder...
...,...,...,...
556,frontmudarev,2022-06-06 03:39:20,Dengan demikian FMR Surabaya mengajak kawan se...
557,detik_jabar,2022-06-06 03:36:58,"PPDB SMA, SMK dan SLB di JabarTahun 2022 dimul..."
558,neoensa,2022-06-06 01:42:05,"@ningnyz_ semangattt, lgi sekolah offline mau ..."
559,berrisikk,2022-06-06 01:17:31,sekolah lain enak banget anjir ujiannya offlin...
560,convomf,2022-06-06 01:05:06,ðŸ’™ Kalian pernah gak si sekolah/kuliah offline ...